
<div>
  <p><a href="/"><picture><source srcset="https://content.da.live/treeves/opsinventor-eds/img/ops-logo.png"><source srcset="https://content.da.live/treeves/opsinventor-eds/img/ops-logo.png" media="(min-width: 600px)"><img src="https://content.da.live/treeves/opsinventor-eds/img/ops-logo.png" alt="OpsInventor" loading="eager"></picture>OpsInventor</a></p>
</div>
<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about-me">About</a></li>
    <li><a href="/category/aem-cq">AEM / CQ</a></li>
  </ul>
</div>
<div>
  <p><a href="/tools/widgets/scheme"><span class="icon icon-scheme"></span>Color scheme</a></p>
  <p><a href="/tools/widgets/toggle"><span class="icon icon-toggle"></span>Toggle menu</a></p>
</div>
