<!DOCTYPE html>
<html>
  <head>
    <title>OpsInventor</title>
    <link rel="canonical" href="https://main--opsinventor-eds--treeves.aem.page/fragments/nav/header">
    <meta property="og:title" content="OpsInventor">
    <meta property="og:url" content="https://main--opsinventor-eds--treeves.aem.page/fragments/nav/header">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/deps/rum.js" type="module"></script>
    <script src="/scripts/ak.js" type="module"></script>
    <script src="/scripts/scripts.js" type="module"></script>
    <link rel="icon" href="/img/favicons/favicon.svg" type="image/svg+xml">
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <p><a href="/">TAD REEVES</a></p>
        <p><a href="/tools/widgets/toggle">Toggle menu</a></p>
      </div>
      <div>
        <ul>
          <li><a href="/speaking">Speaking</a></li>
          <li><a href="/insights">Insights</a></li>
          <li><a href="/rapid-drop">The Rapid Drop</a></li>
        </ul>
      </div>
      <div>
        <p><a href="https://www.linkedin.com/in/thaddeusreeves/">Hit me up →</a></p>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
